# コンパイルによって生成されるファイル
*.exe
*.out
*.o
*.a
*.so
*.d

# バックアップや一時ファイル
*.swp
*.bak
*.tmp

# OS依存の不要なファイル
.DS_Store      # MacOS
Thumbs.db      # Windows

# コンパイラ関連の一時ファイル
*.class
*.log

# エディタやIDEの設定ファイル
.vscode/        # Visual Studio Code
.idea/          # IntelliJ IDEA
*.iml           # IntelliJ IDEAのプロジェクトファイル

# テストケースや出力ファイル（必要に応じて）
*.in
*.out
